@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
}

body {
  margin: 0;
  background-color: rgb(31, 38, 25);
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(31, 38, 25);
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(62, 76, 50);
    border-radius: 20px;
    border: 2px solid rgb(31, 38, 25);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(84, 103, 67);
  }

  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(62, 76, 50) rgb(31, 38, 25);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Chống copy nội dung chương truyện */
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}
